[submodule "src/ingest-pipeline/airflow/dags/cwl/portal-containers"]
	path = src/ingest-pipeline/airflow/dags/cwl/portal-containers
	url = https://github.com/hubmapconsortium/portal-containers
[submodule "src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq"]
	path = src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq
	url = https://github.com/hubmapconsortium/salmon-rnaseq
[submodule "src/ingest-pipeline/airflow/dags/cwl/azimuth-annotate"]
	path = src/ingest-pipeline/airflow/dags/cwl/azimuth-annotate
	url = https://github.com/hubmapconsortium/azimuth-annotate
[submodule "src/ingest-pipeline/airflow/dags/cwl/create-vis-symlink-archive"]
	path = src/ingest-pipeline/airflow/dags/cwl/create-vis-symlink-archive
	url = https://github.com/hubmapconsortium/create-vis-symlink-archive.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/multiome-rna-atac-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/multiome-rna-atac-pipeline
	url = https://github.com/hubmapconsortium/multiome-rna-atac-pipeline
